<h2 class="govuk-heading-m">{{ i18n.whatHappensNextTitle }}</h2>
<p class="govuk-body">{{ i18n.whatHappensNextLine1 }}</p>
<p class="govuk-body">{{ i18n.whatHappensNextLine2 }}</p>
<p class="govuk-body">{{ i18n.whatHappensNextLine3_1 }} <a href="https://find-and-update.company-information.service.gov.uk/" data-event-id="companies-house-register-link" > {{ i18n.whatHappensNextLine3_2link }} </a>. {{ i18n.whatHappensNextLine3_3 }}</p>
<h2 class="govuk-heading-m">{{ i18n.whatDoYouWantToDoNextTitle }}</h2>