<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">{{officerCard.officer.name}}</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          Director
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointed on
        </dt>
        <dd class="govuk-summary-list__value">
          {{officerCard.officer.appointedOn}}
        </dd>
      </div>
      <div class="govuk-!-padding-top-6">
        <a href="{{officerCard.removeUrl}}" data-event-id="current-directors-remove-link" class="govuk-link">Remove director</a>
      </div>
    </dl>
  </div>
</div>