{% for director in corporateDirectorList %}
<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center; color: govuk-colour("light-grey")">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      {{director.surname}},
        {{director.foreName1}}
      {% if director.foreName2 %}
        {{director.foreName2}}
      {% endif %}
    </p>
  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Role</dt>
        <dd class="govuk-summary-list__value">
          <p>{{director.role}}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Appointment on</dt>
        <dd class="govuk-summary-list__value">
          <p>{{director.dateOfAppointment}}</p>
        </dd>
      </div>
      <div class="govuk-!-padding-top-6">
        <a href="#" data-event-id="current-directors-remove-link" class="govuk-link">Remove director</a>
      </div>
    </dl>
  </div>
</div>
{% endfor %}