<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">{{officerCard.officer.name}}</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          Director
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{officerCard.officer.dateOfBirth}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date appointed
        </dt>
        <dd class="govuk-summary-list__value">
          {{officerCard.officer.appointedOn}}
        </dd>
      </div>
      <div class="govuk-!-padding-top-6">
        <button id="directorButton" onclick="_paq.push(['trackGoal', '{{PIWIK_REMOVE_DIRECTOR_START_GOAL_ID}}'])" data-event-id="remove-director-button" name="appointmentId" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="{{officerCard.appointmentId}}">
          Remove director
        </button>
      </div>
    </dl>
  </div>
</div>