{% import "includes/date-localisation.html" as macros %}
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">{{officerCard.officer.name}}</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ i18n.currentDirectorRoleLabel }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ i18n.currentDirectorDirectorLabel }}      
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ i18n.currentDirectorDobLabel }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ macros.localiseDateOfBirth(officerCard.officer.dateOfBirth, i18n) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ i18n.currentDirectorAppointedDateLabel }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ macros.localiseAppointedDate(officerCard.officer.appointedOn, i18n) }}
        </dd>
      </div>
      <!-- empty div tag to reflect the prototype (horizontal line) -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
      </div>
    </dl>
      <div class="govuk-!-padding-top-3">
        {% if updateEnabled === "true" %}
        <button id="directorUpdateButton" onclick="_paq.push(['trackGoal', '{{PIWIK_UPDATE_DIRECTOR_START_GOAL_ID}}'])" data-event-id="update-director-button" name="updateAppointmentId" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button" value="{{officerCard.appointmentId}}">
          {{ i18n.CurrentDirectorsViewAndUpdateButton }} <span class="govuk-visually-hidden">&nbsp;{{officerCard.officer.name}}</span>
        </button>
        {% endif %}
        <button id="directorRemoveButton" onclick="_paq.push(['trackGoal', '{{PIWIK_REMOVE_DIRECTOR_START_GOAL_ID}}'])" data-event-id="remove-director-button" name="removeAppointmentId" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="{{officerCard.appointmentId}}">
          {{ i18n.CurrentDirectorsRemoveDirectorButton }}<span class="govuk-visually-hidden">&nbsp;{{officerCard.officer.name}}</span>
        </button>
      </div>
  </div>
</div>