{% import "includes/date-localisation.html" as macros %}
{% set i18nCorporateDirector = i18n %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: i18nCorporateDirector.directorName
      },
      value: {
        text: name
      }
    },
    {
      key: {
        text: i18nCorporateDirector.dateAppointed
    },
      value: {
        text: macros.localiseAppointedDate(appointedOn, i18nCorporateDirector)
      }
    },
    {
      key: {
        text: i18nCorporateDirector.removeDirectorCheckAnswersDateRemovedText
      },
      value: {
        text: macros.localiseRemovalDate(resignedOn, i18nCorporateDirector)
      },
      actions: {
        items: [
          {
            href: changeLink,
            text: i18nCorporateDirector.change,
            visuallyHiddenText: [i18nCorporateDirector.removeDirectorCheckAnswersDateRemovedText, resignedOn] | join,
            attributes: {
              "data-event-id": "change-link"
            }
          }
        ]
      }
    }
  ]
}) }}