{% import "includes/date-localisation.html" as macros %}
{% set i18nDirector = i18n %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        id: "remove-cya-director-name",
        text: i18nDirector.directorName
      },
      value: {
        text: name
      }
    },
    {
      key: {
        id: "remove-cya-date-of-birth",
        text: i18nDirector.dateOfBirth
      },
      value: {
        text: macros.localiseDateOfBirthFull(dateOfBirth, i18nDirector)
      }
    },
    {
      key: {
        id: "remove-cya-date-appointed",
        text: i18nDirector.dateAppointed
    },
      value: {
        text: macros.localiseAppointedDate(appointedOn, i18nDirector)
      }
    },
    {
      key: {
        id: "remove-cya-date-removed",
        text: i18nDirector.removeDirectorCheckAnswersDateRemovedText
      },
      value: {
        text: macros.localiseRemovalDate(resignedOn, i18nDirector)
      },
      actions: {
        items: [
          {
            href: changeLink,
            text: i18nDirector.change,
            visuallyHiddenText: [i18nDirector.removeDirectorCheckAnswersDateRemovedText, resignedOn] | join,
            attributes: {
              "data-event-id": "change-link"
            }
          }
        ]
      }
    }
  ]
}) }}