{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: name
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: dateOfBirth
      }
    },
    {
      key: {
        text: "Appointed on"
    },
      value: {
        text: appointedOn
      }
    },
    {
      key: {
        text: "Removal Date"
      },
      value: {
        text: resignedOn
      },
      actions: {
        items: [
          {
            href: changeLink,
            text: "Change",
            visuallyHiddenText: "address",
            attributes: {
              "data-event-id": "change-link"
            }
          }
        ]
      }
    }
  ]
}) }}