{{ govukSummaryList({
  rows: [
    {
      key: {
        id: "remove-cya-director-name",
        text: i18nDirector.directorName
      },
      value: {
        text: name
      }
    },
    {
      key: {
        id: "remove-cya-date-of-birth",
        text: i18nDirector.dateOfBirth
      },
      value: {
        text: dateOfBirth
      }
    },
    {
      key: {
        id: "remove-cya-date-appointed",
        text: i18nDirector.dateAppointed
    },
      value: {
        text: appointedOn
      }
    },
    {
      key: {
        id: "remove-cya-date-removed",
        text: i18nDirector.removeDirectorCheckAnswersDateRemovedText
      },
      value: {
        text: resignedOn
      },
      actions: {
        items: [
          {
            href: changeLink,
            text: "Change",
            visuallyHiddenText: ["Date the director was removed from the company ", resignedOn] | join,
            attributes: {
              "data-event-id": "change-link"
            }
          }
        ]
      }
    }
  ]
}) }}