{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if SERVICE_WITHDRAWN === "true" %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            <span>{{ i18n.startUseWebFilingInstead }}</span>
            <a class="govuk-notification-banner__link" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1/#lang-{{lang|default('en')}}" data-event-id="web-filing-link-clicked">{{ i18n.startUseThisServiceInfo6 }}</a>.
        </p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html
    }) }}
{% endif %}

<h1 class="govuk-heading-xl">
    {{ i18n.appTitle }}
</h1>
<p class="govuk-body">{{ i18n.startUseThisServiceInfo1 }}</p>
<h2 class="govuk-heading-m">{{ i18n.startWhatYouCanDo1 }}</h2>
<p class="govuk-body">{{ i18n.startWhatYouCanDo2 }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ i18n.startWhatYouCanDo3 }}</li>
    <li>{{ i18n.startWhatYouCanDo4 }}</li>
    <li>{{ i18n.startWhatYouCanDo5 }}</li>
</ul>
{% if lang === 'cy' %}
    {% set companiesHouseApplyToProtectInformationLink = 'https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register.cy' %}
    {% set companiesHouseOnlineFilingCodeLink = 'https://www.gov.uk/guidance/company-authentication-codes-for-online-filing.cy' %}
{% else %}
    {% set companiesHouseOnlineFilingCodeLink = 'https://www.gov.uk/guidance/company-authentication-codes-for-online-filing' %}
    {% set companiesHouseApplyToProtectInformationLink = 'https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register' %}
{% endif %}
<h3 class="govuk-heading-s">{{ i18n.startCorporateProtectedDirectors1 }}</h3>
<p class="govuk-body">{{ i18n.startCorporateProtectedDirectors2 }}
    <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1/#lang-{{ lang | default('en') }}" data-event-id="web-filing-link-clicked" class="govuk-link">{{ i18n.startCorporateProtectedDirectors3 }}</a> {{ i18n.startCorporateProtectedDirectors4 }}
    <a href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-companies#directors-and-secretaries?lang={{ lang | default('en') }}" data-event-id="companies-house-form-link-clicked" class="govuk-link">{{ i18n.startCorporateProtectedDirectors5 }}</a>.
</p>
<p class="govuk-body">
    <a href="{{ companiesHouseApplyToProtectInformationLink }}" class="govuk-link" data-event-id="protect-personal-information-link-clicked"><span>{{ i18n.startCorporateProtectedDirectors6 }}</span></a>
</p>

{% include "includes/start-common.html" %}

<br>
<p class="govuk-body">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedTitle }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedName }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedPreviousName }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedDOB }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedNationality }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedOccupation }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedAddresses }}</li>
    <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedDOA }}</li>
</ul>
<p class="govuk-body">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedInfo1 }}
    <a href="{{ companiesHouseApplyToProtectInformationLink }}" class="govuk-link" data-event-id="protect-personal-information-link-clicked">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedInfo2 }}</a>
</p>
<p class="govuk-body">
    <span>{{ i18n.startForYourSecurity }}</span>
</p>

 {% if SERVICE_WITHDRAWN === "true" %}
    <p class="call-to-action">
        <span>{{ i18n.startUseWebFilingInstead }}</span>
        <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1/#lang-{{lang|default('en')}}" data-event-id="web-filing-link-clicked" class="govuk-link">{{ i18n.startUseThisServiceInfo6 }}</a>.
    </p>
{% else %}
    <br>
    {{ govukButton({
            text: i18n.startStartNowButton,
            href: "/appoint-update-remove-company-officer/company-number?lang=" + lang | default('en'), 
            id: "start-now",
            isStartButton: true,
            attributes: {
                "data-goal-id": PIWIK_START_GOAL_ID
            }
        }) }}
{% endif %}

<p class="govuk-body">
    <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" data-event-id="adapt-your-device-link-clicked"><span>{{ i18n.startAdaptDevice1 }}</span></a>
    <span>{{ i18n.startAdaptDevice2 }}</span>
</p>