{% set displayCorrespondenceAddress %}
  {% if officerFiling.isServiceAddressSameAsRegisteredOfficeAddress %}
  {{ i18n.updateDirectorDetailsCorrespondenceAddressSameAsROA }}
  {% else %}
    <ul class="govuk-list" id="service-address">
        {% if officerFiling.serviceAddress.premises %}
          <li id="service-address-premise-or-title">{{ officerFiling.serviceAddress.premises | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.addressLine1 %}
          <li id="service-address-line-one">{{ officerFiling.serviceAddress.addressLine1 | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.addressLine2 %}
          <li id="service-address-line-two">{{ officerFiling.serviceAddress.addressLine2 | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.locality %}
          <li id="service-address-locality">{{ officerFiling.serviceAddress.locality | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.region %}
          <li id="service-address-region">{{ officerFiling.serviceAddress.region | title  }},</li>
        {% endif %}
        <li id="service-address-country">{{ officerFiling.serviceAddress.country }}</li>
        <li id="service-address-postcode">{{ officerFiling.serviceAddress.postalCode }}</li>
    </ul>  
  {% endif %}
{% endset %}

{% set displayResidentialAddress %}
  {% if officerFiling.isHomeAddressSameAsServiceAddress %}
  {{ i18n.updateDirectorDetailsHomeAddressSameAsCorrespondence }}
  {% elif officerFiling.residentialAddress %}
    <ul class="govuk-list" id="residential-address">
      {% if officerFiling.residentialAddress.premises %}
        <li id="residential-address-premise">{{ officerFiling.residentialAddress.premises | title  }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.addressLine1 %}
        <li id="residential-address-line-one">{{ officerFiling.residentialAddress.addressLine1 | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.addressLine2 %}
        <li id="residential-address-line-two">{{ officerFiling.residentialAddress.addressLine2 | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.locality %}
        <li id="residential-address-locality">{{ officerFiling.residentialAddress.locality | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.region %}
        <li id="residential-address-region">{{ officerFiling.residentialAddress.region | title }},</li>
      {% endif %}
      <li id="residential-address-country">{{ officerFiling.residentialAddress.country }}</li>
      <li id="residential-address-postcode">{{ officerFiling.residentialAddress.postalCode }}</li>
    </ul>  
  {% endif %}
{% endset %}

{% set correspondeneAddressRadio %}
    {% if officerFiling.directorServiceAddressChoice === "director_registered_office_address" %}
      #director_registered_address
    {% else %}
      #director_different_address
    {% endif %}
{% endset %}

{% if cyaDisplay %}
<dl class="govuk-summary-list" style="width:100%">
  <div class="govuk-summary-list__row" id="address-details-div">
    <h2 class="govuk-summary-list__key govuk-heading-m" id="address-details">
     {{ i18n.updateDirectorCheckAnswersAddressDetails }}
    </h2>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" id="address-change-link" href="{{correspondenceAddressChangeLink}}" data-event-id="address-change-link">{{i18n.change}}<span class="govuk-visually-hidden">Director's address details</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" id="correspondence-address">
      {{ i18n.updateDirectorDetailsCorrespondenceAddress }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{displayCorrespondenceAddress | safe}}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" id="home-address">
      {{ i18n.updateDirectorDetailsHomeAddress }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{displayResidentialAddress | safe}}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>

{% else %}
  <dl class="govuk-summary-list" style="width:100%">
      <div class="govuk-summary-list__row" id="update-director-address-details-div">
        <h2 class="govuk-summary-list__key govuk-heading-m" id="update-director-address-details">
          {{ i18n.updateDirectorDetailsAddressDetails }}
        </h2>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" id="update-director-details-link" href="{{correspondenceAddressChangeLink}}" data-event-id="update-address-change-link">{{ i18n.updateDirectorDetailsUpdate }}<span class="govuk-visually-hidden">Update address</span></a>
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if correspondenceAddressHasBeenUpdated or  residentialAddressHasBeenUpdated %}
            {{ updateRequiredHtml | safe }}
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" id="update-director-correspondence-address">
          {{ i18n.updateDirectorDetailsCorrespondenceAddress }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{displayCorrespondenceAddress | safe}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" id="update-director-home-address">
          {{ i18n.updateDirectorDetailsHomeAddress }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{displayResidentialAddress | safe}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
{% endif %}