{% set displayCorrespondenceAddress %}
  {% if officerFiling.isServiceAddressSameAsRegisteredOfficeAddress %}
    The correspondence address is the same as the registered office address
  {% else %}
    <ul class="govuk-list">
        {% if officerFiling.serviceAddress.premises %}
          <li>{{ officerFiling.serviceAddress.premises | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.addressLine1 %}
          <li>{{ officerFiling.serviceAddress.addressLine1 | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.addressLine2 %}
          <li>{{ officerFiling.serviceAddress.addressLine2 | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.locality %}
          <li>{{ officerFiling.serviceAddress.locality | title  }},</li>
        {% endif %}
        {% if officerFiling.serviceAddress.region %}
          <li>{{ officerFiling.serviceAddress.region | title  }},</li>
        {% endif %}
        <li>{{ officerFiling.serviceAddress.country }}</li>
        <li>{{ officerFiling.serviceAddress.postalCode }}</li>
    </ul>  
  {% endif %}
{% endset %}

{% set displayResidentialAddress %}
  {% if officerFiling.isServiceAddressSameAsHomeAddress %}
    The home address is the same as the correspondence address
  {% elif officerFiling.residentialAddress %}
    <ul class="govuk-list">
      {% if officerFiling.residentialAddress.premises %}
        <li>{{ officerFiling.residentialAddress.premises | title  }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.addressLine1 %}
        <li>{{ officerFiling.residentialAddress.addressLine1 | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.addressLine2 %}
        <li>{{ officerFiling.residentialAddress.addressLine2 | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.locality %}
        <li>{{ officerFiling.residentialAddress.locality | title }},</li>
      {% endif %}
      {% if officerFiling.residentialAddress.region %}
        <li>{{ officerFiling.residentialAddress.region | title }},</li>
      {% endif %}
      <li>{{ officerFiling.residentialAddress.country }}</li>
      <li>{{ officerFiling.residentialAddress.postalCode }}</li>
    </ul>  
  {% endif %}
{% endset %}

{% set correspondeneAddressRadio %}
    {% if officerFiling.directorServiceAddressChoice === "director_registered_office_address" %}
      #director_registered_address
    {% else %}
      #director_different_address
    {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: i18n.addressDetails",
        classes: "govuk-heading-m"
      },
      value: {
      },
      actions: {
        items: [
          {
            href: correspondenceAddressChangeLink + correspondeneAddressRadio | trim,
            text: i18n.update if isUpdate else "Change",
            visuallyHiddenText: "Director's address details",
            attributes: {
              "data-event-id": "address-change-link"
            }
          }
        ]
      }
    },
    {
      key: {
        text: i18n.correspondenceAddress
      },
      value: {
        html: displayCorrespondenceAddress
      }
    },
    {
      key: {
        text: i18n.homeAddress
      },
      value: {
        html: displayResidentialAddress
      }
    }
  ]
}) }}