{% extends "layout.html" %}

{% set title = i18n.accessibilityStatementTitle %}

{% block pageTitle %}
{% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block signoutBar %}
{# Remove signout bar on this page by replacing it with nothing #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {{ i18n.accessibilityStatementHeading }}
        </h1>

        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#how-accessible">{{ i18n.accessibilityStatementHowAccessibile }}</a></li>
            <li><a class="govuk-link" href="#reporting">{{ i18n.accessibilityStatementReporting }}</a></li>
            <li><a class="govuk-link" href="#enforcement">{{ i18n.accessibilityStatementEnforcement }}</a></li>
            <li><a class="govuk-link" href="#technical-information">{{ i18n.accessibilityStatementTechnicalInformation }}</a></li>
            <li><a class="govuk-link" href="#how-we-tested">{{ i18n.accessibilityStatementHowWeTested }}</a></li>
            <li><a class="govuk-link" href="#were-doing">{{ i18n.accessibilityStatementImproveAccessibility }}</a></li>
        </ul>

        <br>

        <p class="govuk-body">{{ i18n.accessibilityStatementAboutPreLink }}<a class="govuk-link" href="https://www.gov.uk/government/organisations/companies-house">{{ i18n.accessibilityStatementAboutLinkText }}</a>{{ i18n.accessibilityStatementAboutPostLink }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ i18n.accessibilityStatementAboutList1 }}</li>
            <li>{{ i18n.accessibilityStatementAboutList2 }}</li>
            <li>{{ i18n.accessibilityStatementAboutList3 }}</li>
            <li>{{ i18n.accessibilityStatementAboutList4 }}</li>
            <li>{{ i18n.accessibilityStatementAboutList5 }}</li>
        </ul>

        <p class="govuk-body">{{ i18n.accessibilityStatementAboutEnd }}</p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">{{ i18n.accessibilityStatementAbilityNetLinkText }}</a>{{ i18n.accessibilityStatementAbilityNetPostLink }}
        </p>

        <h2 class="govuk-heading-m" id="how-accessible">
            {{ i18n.accessibilityStatementHowAccessibile }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementHowAccessibileText }}</p>

        <h2 class="govuk-heading-m" id="reporting">
            {{ i18n.accessibilityStatementReporting }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementReportingPreLink }}
            <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">{{ i18n.accessibilityStatementReportingLinkText }}</a>{{ i18n.accessibilityStatementReportingPostLink }}
        </p>

        <h2 class="govuk-heading-m" id="enforcement">
            {{ i18n.accessibilityStatementEnforcement }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementEnforcementPreLink }}
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">{{ i18n.accessibilityStatementEnforcementLinkText }}</a>.
        </p>

        <h2 class="govuk-heading-m" id="technical-information">
            {{ i18n.accessibilityStatementTechnicalInformation }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementTechnicalInformationText }}</p>

        <p class="govuk-body">{{ i18n.accessibilityStatementComplianceStatusPreLink }}<a href="https://www.w3.org/TR/WCAG22/">{{ i18n.accessibilityStatementComplianceStatusLinkText }}</a>{{ i18n.accessibilityStatementComplianceStatusPostLink }}</p>

        <h2 class="govuk-heading-m" id="how-we-tested">
            {{ i18n.accessibilityStatementHowWeTested }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementHowWeTestedText }}</p>
        <p class="govuk-body">{{ i18n.accessibilityStatementHowWeTestedPreLink }}<a class="govuk-link" href="https://digitalaccessibilitycentre.org/auditandaccreditation.html">{{ i18n.accessibilityStatementHowWeTestedLinkText }}</a>{{ i18n.accessibilityStatementHowWeTestedPostLink }}</p>

        <h2 class="govuk-heading-m" id="were-doing">
            {{ i18n.accessibilityStatementImproveAccessibility }}
        </h2>

        <p class="govuk-body">{{ i18n.accessibilityStatementImproveAccessibilityText }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ i18n.accessibilityStatementImproveAccessibilityList1 }}</li>
            <li>{{ i18n.accessibilityStatementImproveAccessibilityList2 }}</li>
            <li>{{ i18n.accessibilityStatementImproveAccessibilityList3 }}</li>
            <li>{{ i18n.accessibilityStatementImproveAccessibilityList4PreLink }}
                <a class="govuk-link" href="https://www.gov.uk/government/news/help-improve-companies-house">{{ i18n.accessibilityStatementImproveAccessibilityList4LinkText }}</a>
                {{ i18n.accessibilityStatementImproveAccessibilityList4PostLink }}
            </li>
            <li>{{ i18n.accessibilityStatementImproveAccessibilityList5PreLink }}
                <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">{{ i18n.accessibilityStatementImproveAccessibilityList5LinkText }}</a>
            </li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href="https://companieshouse.blog.gov.uk/category/user-research/">{{ i18n.accessibilityStatementBlogLinkText }}</a>
            {{ i18n.accessibilityStatementBlogTextPostLink }}</p>

        <p class="govuk-body">{{ i18n.accessibilityStatementPreperation }}</p>

    </div>
</div>
{% endblock %}