{% extends "layout.html" %}

{% set title = ["Current directors for ", company.companyName] | join  %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      {% if officerErrorMsg %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: officerErrorMsg,
              href: "#active-directors"
            }
          ]
        }) }}
        {% set activeOfficersError = {
          text: officerErrorMsg
        } %}
      {% else %}
        {% set activeOfficersError = false %}
      {% endif %}

      <span class="govuk-caption-l gem-c-title__context">
        {{company.companyName}}
      </span>
      <h1 class="govuk-heading-l">Current directors</h1>

      {% if ap01Active %}
        <button id="submit" class="govuk-button" onclick="_paq.push(['trackGoal', '{{PIWIK_APPOINT_DIRECTOR_START_GOAL_ID}}'])" data-event-id="appoint-new-director-button" data-module="govuk-button">
          Appoint new director
        </button>
      {% endif %}

      {% if directorsList|length %}
        {% for officerCard in directorsList %}
          {% if ((officerCard.officer.officerRole == "Director") or (officerCard.officer.officerRole == "Nominee-director")) %}
            {% include "includes/directors.html" %}
          {% elif ((officerCard.officer.officerRole == "Corporate-director") or (officerCard.officer.officerRole == "Corporate-nominee-director")) %}
            {% include "includes/corporate-directors.html" %}
          {% endif %}
        {% endfor %}
        {% else %}
          {% if publicCompany %}
            {% set warningText = "This company has no directors, or not enough directors. This means it is not compliant and at risk of enforcement action. The company must appoint at least 2 directors, and at least one must be a person. The company must tell Companies House who they've appointed within 14 days, or risk prosecution." %}
          {% else %}
            {% set warningText = "This company has no directors. This means it is not compliant and at risk of enforcement action. The company must appoint at least one director who is a person and tell Companies House within 14 days, or risk prosecution." %}
          {% endif %}
          {{ govukWarningText({
            text: warningText,
            iconFallbackText: "Warning"
          }) }}
      {% endif %}

      {% if pagination and pagination.items|length %}
      <br>
      <div id="pagination-container">
        {{ govukPagination(pagination) }}
      </div>
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}