{% extends "layout.html" %}

{% set title = "Check your answers before submitting the appointment" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">

        <h1 class="govuk-heading-l">Check your answers before submitting the appointment</h1>
        <!-- This is the page for the appoint a director check your answers screen -->

        {{ govukButton({
          attributes: {
            "data-event-id": "confirm-and-submit-button"
          },
          text: "Confirm and submit"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
