{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set title = i18n.appointDirectorCheckYourAnswersTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {% include "csrf_token.njk" %}

        <span class="govuk-caption-l">{{name}}</span>
        <h1 class="govuk-heading-l">{{i18n.appointDirectorCheckYourAnswersTitle}}</h1>
        <!-- This is the page for the appoint a director check your answers screen -->

        <h2 class="govuk-heading-m">{{i18n.companyDetails}}</h2>

        {{ govukSummaryList({
          rows: [
            {
              classes: "govuk-summary-list__row--no-actions",
              key: {
                id: "appoint-cya-company-name",
                text: i18n.companyName
              },
              value: {
                text: company.companyName
              }
            },
            {
              classes: "govuk-summary-list__row--no-actions",

              key: {
                id: "appoint-cya-company-number",
                text: i18n.companyNumber
              },
              value: {
                text: company.companyNumber
              }
            }
          ]
        }) }}

        {% if not formerNames %}
          {% set formerNames = i18n.noneString %}
        {% endif %}

        {% set nationality = officerFiling.nationality1 %}
        {% if officerFiling.nationality2 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality2 %}
        {% endif %}
        {% if officerFiling.nationality3 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality3 %}
        {% endif %}

        {% if directorTitle %}
          {% set name = directorTitle + " " + name %}
        {% endif %}

        <h2 class="govuk-heading-m">{{i18n.directorDetails}}</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                id: "appoint-cya-director-name",
                text: i18n.directorName
              },
              value: {
                text: name
              },
              actions: {
                items: [
                  {
                    href: nameLink,
                    text: i18n.change,
                    visuallyHiddenText: "Name",
                    attributes: {
                      "data-event-id": "name-change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-previous-names",
                text: i18n.directorPreviousNames
              },
              value: {
                text: formerNames
              },
              actions: {
                items: [
                  {
                    href: nameLink,
                    text: i18n.change,
                    visuallyHiddenText: "Previous name",
                    attributes: {
                      "data-event-id": "former-names-change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-date-of-birth",
                text: i18n.dateOfBirth
              },
              value: {
                text: dateOfBirth
              },
              actions: {
                items: [
                  {
                    href: dateOfBirthLink,
                    text: i18n.change,
                    visuallyHiddenText: "Date of birth",
                    attributes: {
                      "data-event-id": "date-of-birth--change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-date-appointed",
                text: i18n.dateAppointed
              },
              value: {
                text: appointedOn
              },
              actions: {
                items: [
                  {
                    href: dateAppointedLink,
                    text: i18n.change,
                    visuallyHiddenText: "Appointed on date",
                    attributes: {
                      "data-event-id": "appointed-on-change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-nationality",
                text: i18n.nationality
              },
              value: {
                html: nationality
              },
              actions: {
                items: [
                  {
                    href: nationalityLink,
                    text: i18n.change,
                    visuallyHiddenText: "Nationality",
                    attributes: {
                      "data-event-id": "nationality-change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-occupation",
                text: i18n.occupation
              },
              value: {
                text: occupation
              },
              actions: {
                items: [
                  {
                    href: occupationLink,
                    text: i18n.change,
                    visuallyHiddenText: "Occupation",
                    attributes: {
                      "data-event-id": "occupation-change-link"
                    }
                  }
                ]
              }
            },
            {
              key: {
                id: "appoint-cya-director-protected-details",
                text: i18n.appointDirectorCheckYourAnswersProtectedDetails
              },
              value: {
                text: protectedDetails
              },
              actions: {
                items: [
                  {
                    href: protectedDetailsLink,
                    text: i18n.change,
                    visuallyHiddenText: i18n.appointDirectorCheckYourAnswersProtectedDetailsHidden,
                    attributes: {
                      "data-event-id": "protected-details-change-link"
                    }
                  }
                ]
              }
            }
          ]
        }) }}

        {% set officerFiling = officerFiling %}
        {% set cyaDisplay = true %}
        {% include "includes/check-your-answer/address-details.html" %}

        <h2 class="govuk-fieldset__heading-m">{{i18n.appointDirectorCheckYourAnswersConsentToAct}}</h2>

        {{ govukCheckboxes({
          name: "director_consent",
          errorMessage: errors.director_consent if errors,
          items: [
            {
              value: "director_consent",
              text: i18n.appointDirectorCheckYourAnswersConsentToActSubmit,
              attributes: {
                "data-event-id": "consent_to_act_radio_click"
              }
            }
          ]
        }) }}

        {% include "includes/confirm-submit-cancel-button-group.html" %}

      </form>
    </div>

{% endblock %}
