{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set title = "Check your answers before submitting the appointment" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">

        <h1 class="govuk-heading-l">Check your answers before submitting the appointment</h1>
        <!-- This is the page for the appoint a director check your answers screen -->

        <h2 class="govuk-heading-m">Company details</h2>

        {{ govukSummaryList({
          attributes: {
            "style": "width:auto"
          },
          rows: [
            {
              classes: "govuk-summary-list__row--no-actions",
              key: {
                text: "Company name"
              },
              value: {
                text: company.companyName
              }
            },
            {
              classes: "govuk-summary-list__row--no-actions",
              
              key: {
                text: "Company number"
              },
              value: {
                text: company.companyNumber
              }
            }
          ]
        }) }}

        {% if not formerNames %}
          {% set formerNames = "None" %}
        {% endif %}

        {% set nationality = officerFiling.nationality1 %}
        {% if officerFiling.nationality2 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality2 %}
        {% endif %}
        {% if officerFiling.nationality3 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality3 %}
        {% endif %}

        <h2 class="govuk-heading-m">Director details</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: name
              },
              actions: {
                items: [
                  {
                    href: nameLink,
                    text: "Change",
                    visuallyHiddenText: "Name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Previous names"
              },
              value: {
                text: formerNames
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Previous name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: dateOfBirth
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date appointed"
              },
              value: {
                text: appointedOn
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Appointed on date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                html: nationality
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Nationality"
                  }
                ]
              }
            },
            {
              key: {
                text: "Occupation"
              },
              value: {
                text: occupation
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Occupation"
                  }
                ]
              }
            },
            {
              key: {
                text: "Has the director applied to protect their details at Companies House?"
              },
              value: {
                text: "protected details yes or no here"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Protected details"
                  }
                ]
              }
            }
          ]
        }) }} 

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Address details",
                classes: "govuk-heading-m"
              },
              value: {
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Director's address details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Correspondence address"
              },
              value: {
                text: "Correspondence address here"
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                text: "Home address here"
              }
            }
          ]
        }) }}

        {{ govukCheckboxes({
          name: "director-consent",
          fieldset: {
            legend: {
              text: "Consent to act as a director",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "director-consent",
              text: "By submitting this information, you are confirming that the person named has consented to act as a director."
            }
          ]
        }) }}

        {% include "includes/confirm-submit-cancel-button-group.html" %}

      </form>
    </div>

{% endblock %}
