{% extends "layout.html" %}

{% set title = i18n.dateDetailsTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {% include "includes/csrf_token.njk" %}

        <span class="govuk-caption-l gem-c-title__context">
          {{directorName}}
        </span>
        <h1 class="govuk-heading-l">{{ i18n.dateDetailsTitle }}</h1>

        {% include "includes/inputs/date/dob-date-input.html" %}
        <br>
        {% include "includes/inputs/date/appoint-date-input.html" %}

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">{{ i18n.whatInformationShownInOnlineRegisterInset }}</h2>
            <p>{{ i18n.dateDetailsInsetText }}</p>
        </div>

        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
