{% extends "layout.html" %}

{% set title = i18n.directorProtectedDetailsTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% set backLinkText = i18n.directorProtectedDetailsBackLinkText %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {% include "includes/csrf_token.njk" %}
        <span class="govuk-caption-l">{{directorName}}</span>

        {{ govukRadios({
          errorMessage: errors.protected_details if errors,
          idPrefix: "protected_details",
          name: "protected_details",
          fieldset: {
            legend: {
              text: i18n.directorProtectedDetailsProtectedDetails,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: i18n.directorProtectedDetailsProtectedDetailsHint
          },
          items: [
            {
              value: "protected_details_no",
              text: i18n.directorProtectedDetailsProtectedDetailsNo,
              checked: protected_details === "protected_details_no",
              attributes: {
                "data-event-id": "protected_details_no"
              }
            },
            {
              value: "protected_details_yes",
              text: i18n.directorProtectedDetailsProtectedDetailsYes,
              hint: {
                text: i18n.directorProtectedDetailsProtectedDetailsYesHint
              },
              checked: protected_details === "protected_details_yes",
              attributes: {
                "data-event-id": "protected_details_yes"
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          text: i18n.directorProtectedDetailsProtectedDetailsInsetText
        }) }}

        {% set accordianDetails %}
        <p>{{ i18n.directorProtectedDetailsProtectedDetailsAccordianDetails1 }}</p>
        <p>{{ i18n.directorProtectedDetailsProtectedDetailsAccordianDetails2 }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ i18n.directorProtectedDetailsProtectedDetailsAccordianDetails3 }}</li>
          <li>{{ i18n.directorProtectedDetailsProtectedDetailsAccordianDetails4 }}</li>
        </ul>
        {% endset %}

        {% set summaryHtml %}
        <div>{{ i18n.directorProtectedDetailsProtectedDetailsGovUKDetails }}</div>
        {% endset %}

        {{ govukDetails({
          summaryHtml: summaryHtml,
          html: accordianDetails,
          attributes: {
            "data-event-id": "protected-details-accordion-clicked"
          }
        }) }}

        {{ govukButton({
          classes: "govuk-button govuk-!-margin-top-5",
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
