{% extends "layout.html" %}

{% set title = "What is the director's nationality?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">
        <div id="my-autocomplete-container-0" class="govuk-form-group">
          <span class="govuk-caption-l">{{directorName}}</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="typeahead_input_0">What is the director's nationality?</label></h1>
          <div id="typeahead-hint-0" class="govuk-hint">
          Start typing a nationality, then choose from the list
        </div>
        </div>
        <p id="nationality-2-link" class="govuk-body">
          <a href="#" id="second-nationality-link" class="govuk-link govuk-link--no-visited-state">Add a second nationality</a>
        </p>

        <div id="my-autocomplete-container-1" class="govuk-form-group" style="display: none;">
          <label class="govuk-label" for="typeahead_input_1">Second nationality (if relevant)</label>
          <div id="typeahead-hint-1" class="govuk-hint">
            Dual citizenship (also known as dual nationality) is allowed in some countries. This means you can be a citizen of your own country and another country.
        </div>
        </div>
        <p id= "nationality-3-link" class="govuk-body">
          <a href="#" id="third-nationality-link" class="govuk-link govuk-link--no-visited-state">Add a third nationality</a>
        </p>

        <div id="my-autocomplete-container-2" class="govuk-form-group" style="display: none;">
          <label class="govuk-label" for="typeahead_input_2">Third nationality (if relevant)</label>
          <div id="typeahead-hint-2" class="govuk-hint">
            Multiple citizenship (also known as multiple nationality) is allowed in some countries. This means you can be a citizen of your own country and two other countries.
        </div>
        </div>

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
          <p>We will show the director's nationality on the public Companies House register.</p>"
        }) }}

        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: "Continue"
        }) }}

      </form>
    </div>
    {% include "includes/inputs/fields/typeahead-input.html" %}
  </div>
{% endblock %}
