{% extends "layout.html" %}

{% set title = i18n.enterDirectorsCorrespondenceAddress %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% if correspondence_address_back_param === "confirm-correspondence-address" %}
    {% set backLinkText = i18n.enterDirectorsCorrespondenceAddress %}
  {%else%}
    {% set backLinkText = i18n.goBackToFindDirectorsCorrespondenceAddress %}
  {%endif%}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">

        <span class="govuk-caption-l">{{directorName}}</span>
        <h1 class="govuk-heading-l">{{ i18n.enterDirectorsCorrespondenceAddress }}</h1>

        <div id="correspondence-property-address-hint" class="govuk-hint">
          {{ i18n.directorCorrespondenceAddressHint }}
        </div>

        {{ govukInput({
          errorMessage: errors.correspondence_address_premises if errors,
          label: {
            html: i18n.premisesInput
          },
          hint: {
            text: i18n.premisesHint
          },
          id: "correspondence_address_premises",
          name: "correspondence_address_premises",
          value: correspondence_address_premises
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_line_1 if errors,
          label: {
            text: i18n.addressLine1Input
          },
          id: "correspondence_address_line_1",
          name: "correspondence_address_line_1",
          value: correspondence_address_line_1
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_line_2 if errors,
          label: {
            text: i18n.addressLine2Input
          },
          id: "correspondence_address_line_2",
          name: "correspondence_address_line_2",
          value: correspondence_address_line_2
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_city if errors,
          label: {
            text: i18n.cityOrTownInput
          },
          id: "correspondence_address_city",
          name: "correspondence_address_city",
          value: correspondence_address_city
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_county if errors,
          label: {
            text: i18n.countyStateProvinceOrRegionInput
          },
          id: "correspondence_address_county",
          name: "correspondence_address_county",
          value: correspondence_address_county
        }) }}

        {% include "includes/inputs/fields/country-input.html" %}

        {{ govukInput({
          errorMessage: errors.correspondence_address_postcode if errors,
          label: {
            text: i18n.postcodeOrZipInput
          },
          classes: "govuk-input govuk-input--width-10",
          id: "correspondence_address_postcode",
          name: "correspondence_address_postcode",
          value: correspondence_address_postcode
        }) }}

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">{{ i18n.whatInformationShownInOnlineRegisterInset }}</h2>
            <p>{{ directorCorrespondenceAddressInsetHint }}</p>
        </div>


        {% set correspondenceAddressSameAsHomeAddress %}
        <p>{{ i18n.directorCorrespondenceAddressAccordionText }} </p>
        <p>{{ i18n.directorCorrespondenceAddressRadioAgentAccordionText }}  <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" data-event-id="list-of-agents-link" class="govuk-link" target="_blank" rel="noopener noreferrer">
          {{ i18n.directorCorrespondenceAddressAgentAccordionLinkText }}</a> </p>
        <p>{{ i18n.directorCorrespondenceAddressAgentOtherAgentAccordionText }}</p>
        {% endset %}
        {{ govukDetails({
          summaryHtml: '<div>'~i18n.directorCorrespondenceAddressAccordionTitle~ '</div>',
          html: correspondenceAddressSameAsHomeAddress,
          attributes: {
            "data-event-id": "my-correspondance-address-is-my-home-address-accordion"
          }
        }) }}


        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

