{% extends "layout.html" %}

{% set title = "What is the director's correspondence address?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">

        <span class="govuk-caption-l">{{directorName}}</span>
        <h1 class="govuk-heading-l">What is the director's correspondence address?</h1>

        <div id="correspondence-property-address-hint" class="govuk-hint">
          We'll use this address to send Companies House mail to the director. You can use a business or home address and it does not have to be in the UK.
        </div>

        {{ govukInput({
          errorMessage: errors.correspondence_address_premises if errors,
          label: {
            html: 'Property name or number'
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "correspondence_address_premises",
          name: "correspondence_address_premises",
          value: correspondence_address_premises
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_line_1 if errors,
          label: {
            text: "Address line 1"
          },
          id: "correspondence_address_line_1",
          name: "correspondence_address_line_1",
          value: correspondence_address_line_1
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_line_2 if errors,
          label: {
            text: "Address line 2 (optional)"
          },
          id: "correspondence_address_line_2",
          name: "correspondence_address_line_2",
          value: correspondence_address_line_2
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_city if errors,
          label: {
            text: "City or town"
          },
          id: "correspondence_address_city",
          name: "correspondence_address_city",
          value: correspondence_address_city
        }) }}

        {{ govukInput({
          errorMessage: errors.correspondence_address_county if errors,
          label: {
            text: "County, state, province or region (optional)"
          },
          id: "correspondence_address_county",
          name: "correspondence_address_county",
          value: correspondence_address_county
        }) }}

        {% include "includes/inputs/fields/country-input.html" %}

        {{ govukInput({
          errorMessage: errors.correspondence_address_postcode if errors,
          label: {
            text: "Postcode or ZIP"
          },
          classes: "govuk-input govuk-input--width-10",
          id: "correspondence_address_postcode",
          name: "correspondence_address_postcode",
          value: correspondence_address_postcode
        }) }}

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we’ll show on the public register</h2>
          <p>We will show this address on the public Companies House register.</p>"
        }) }}

        {% set correspondenceAddressSameAsHomeAddress %}
        <p>We will not show your home address on the public register. However, if you use your home address as your correspondence address, we will show this on the public register. </p>
        <p>If you run your company from home and do not want your home address available to the public, there is a  <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" target="_blank" rel="noopener noreferrer"> list of agents who can provide registered office services (opens in new tab).</a> </p>
        <p>A quick online search will show other agents who offer similar services. All providers will charge a fee. </p>
        {% endset %}
        {{ govukDetails({
          summaryHtml: '<div data-event-id="start-now-accordion-expansion"> My correspondence address is the same as my home address </div>',
          html: correspondenceAddressSameAsHomeAddress
        }) }}


        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

