{% extends "layout.html" %}

{% set title = "What is the director's nationality?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">
        <div id="typeahead-form-group-0" class="govuk-form-group">
          <span class="govuk-caption-l">{{directorName}}</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="typeahead_input_0">What is the director's nationality?</label></h1>
          <div id="typeahead-hint-0" class="govuk-hint">
          Start typing a nationality, then choose from the list
        </div>
        <div id="my-autocomplete-container-0" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
        </div>
        <p id="nationality-2-link" class="govuk-body">
          <a data-event-id="nationality-2-link" href="#" id="second-nationality-link" class="govuk-link govuk-link--no-visited-state">Add a second nationality</a>
        </p>

        <div id="typeahead-form-group-1" class="govuk-form-group" style="display: none;">
          <label class="govuk-label" for="typeahead_input_1">Second nationality (if relevant)</label>
          <div id="typeahead-hint-1" class="govuk-hint">
            Dual citizenship (also known as dual nationality) is allowed in some countries. This means you can be a citizen of your own country and another country.
        </div>
        <div id="my-autocomplete-container-1" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
        </div>
        <p id= "nationality-3-link" class="govuk-body">
          <a data-event-id="nationality-3-link" href="#" id="third-nationality-link" class="govuk-link govuk-link--no-visited-state">Add a third nationality</a>
        </p>

        <div id="typeahead-form-group-2" class="govuk-form-group" style="display: none;">
          <label class="govuk-label" for="typeahead_input_2">Third nationality (if relevant)</label>
          <div id="typeahead-hint-2" class="govuk-hint">
            Multiple citizenship (also known as multiple nationality) is allowed in some countries. This means you can be a citizen of your own country and two other countries.
        </div>
        <div id="my-autocomplete-container-2" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
        </div>

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
          <p>We will show the director's nationality on the public Companies House register.</p>"
        }) }}

        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: "Continue"
        }) }}

        <!-- Hidden radio buttons to record whether links are clicked -->
        {{ govukRadios({
          id: "nationality_2_radio",
          name: "nationality_2_radio",
          attributes: {
            "style": "display: none;"
          },
          items: [
            {
              id: "nationality_2_radio_yes",
              value: true,
              text: "Yes"
            }
          ]
        }) }}

        {{ govukRadios({
          id: "nationality_3_radio",
          name: "nationality_3_radio",
          attributes: {
            "style": "display: none;"
          },
          items: [
            {
              id: "nationality_3_radio_yes",
              value: true,
              text: "Yes"
            }
          ]
        }) }}

      </form>
    </div>
    {% include "includes/inputs/fields/typeahead-input.html" %}
  </div>
  <script type="text/javascript">
    //show and hide nationality 
    $(document).ready(function () {
      // If link has already been clicked, set up the page as it was before
      if ("{{nationality2_hidden}}" === "true") {
        $('#typeahead-form-group-1').show();
        $('#nationality-2-link').hide();
        radiobtn = document.getElementById("nationality_2_radio_yes");
        radiobtn.checked = true;
      }
      else {
        $('#nationality-2-link').click(function () {
          $('#typeahead-form-group-1').show();
          $('#nationality-3-link').show();
          $('#nationality-2-link').hide();
          radiobtn = document.getElementById("nationality_2_radio_yes");
          radiobtn.checked = true;
          return false;
        });
      }

      if ("{{nationality3_hidden}}" === "true") {
        $('#typeahead-form-group-2').show();
        $('#nationality-3-link').hide();
        radiobtn = document.getElementById("nationality_3_radio_yes");
        radiobtn.checked = true;
      }
      else {
        $('#nationality-3-link').click(function () {
          $('#typeahead-form-group-2').show();
          $('#nationality-3-link').hide();
          radiobtn = document.getElementById("nationality_3_radio_yes");
          radiobtn.checked = true;
          return false;
        });
      }
    })
  </script>
{% endblock %}
