{% extends "layout.html" %}

{% set title = "Does the director have their personal information protected at Companies House?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">
        <span class="govuk-caption-l">{{directorName}}</span>

        {{ govukRadios({
          errorMessage: errors.protected_details if errors,
          idPrefix: "protected_details",
          name: "protected_details",
          fieldset: {
            legend: {
              text: "Does the director have their personal information protected at Companies House?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes if they are waiting for the results of an application to protect their personal information."
          },
          items: [
            {
              value: "protected_details_no",
              text: "No",
              checked: protected_details === "protected_details_no",
              attributes: {
                "data-event-id": "protected_details_no"
              }
            },
            {
              value: "protected_details_yes",
              text: "Yes",
              hint: {
                text: "We’ll need to check that the director has applied to protect their details, so your submission will take longer to process."
              },
              checked: protected_details === "protected_details_yes",
              attributes: {
                "data-event-id": "protected_details_yes"
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          text: "We will reject your filing if you select ‘yes’ and the director has not applied to protect their details."
        }) }}

        {% set accordianDetails %}
        <p>Some directors can apply to protect personal information from being shown on the Companies House public online register if they meet certain criteria.</p>
        <p>You should only select ‘yes’ if the director has:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>provided evidence that they are eligible to have their details protected</li>
          <li>paid the £100 fee</li>
        </ul>
        {% endset %}

        {{ govukDetails({
          summaryHtml: '<div> What having personal information protected means</div>',
          html: accordianDetails,
          attributes: {
            "data-event-id": "protected-details-accordion-clicked"
          }
        }) }}

        {{ govukButton({
          classes: "govuk-button govuk-!-margin-top-5",
          attributes: {
            "data-event-id": "continue-button"
          },
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
