{% extends "layout.html" %}

{% set title = i18n.chooseHomeAddress %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {# sonarqube ignore 3 #}
        {% include "includes/csrf_token.njk" %}
        <span class="govuk-caption-l">{{directorName}}</span>

        {% include "includes/list/address-array.html" %}

        <div class="govuk-body">
          <a href="{{enterAddressManuallyUrl}}" class="govuk-link" data-event-id="director-residential-address-manual-link">{{ i18n.enterAddressManually }}</a>
        </div>

        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
