{% extends "layout.html" %}

{% set title = i18n.pageNotFound %}

{% block pageTitle %}
{% include "includes/page-title.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ i18n.pageNotFound | default("Page not found") }}
      </h1>
      <p>{{ i18n.pageNotFoundIf1 }}</p>
      <p>{{ i18n.pageNotFoundIf2 }}</p>
      <p>{{ i18n.pageNotFoundIf3 }}
        <a href="https://www.gov.uk/contact-companies-house" data-event-id="contact-companies-house-link">{{ i18n.pageNotFoundContact }}</a>.</p>

    </div>
  </div>
{% endblock %}