{% extends "layout.html" %}

{% set title = i18n.dateOfRemoveTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
          {{ csrfTokenInput({ csrfToken: csrfToken }) }}

        <span class="govuk-caption-l gem-c-title__context">
          {{directorName}}
        </span>
        {% include "includes/inputs/date/removal-date-input.html" %}

        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
