{% extends "layout.html" %}

{% set title = i18n.removeDirectorCheckAnswersTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="" method="post">
        {% include "csrf_token.njk" %}

        <h1 class="govuk-heading-l"> {{ i18n.removeDirectorCheckAnswersTitle }} </h1>

        <h2 class="govuk-heading-m">{{ i18n.companyDetails }}</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                id: "remove-cya-company-name",
                text: i18n.companyName
              },
              value: {
                text: company.companyName
              }
            },
            {
              key: {
                id: "remove-cya-company-number",
                text: i18n.companyNumber
              },
              value: {
                text: company.companyNumber
              }
            }
          ]
        }) }}

        {% if directorTitle %}
          {% set name = directorTitle + " " + name %}
        {% endif %}

        <h2 class="govuk-heading-m">{{ i18n.directorDetails }}</h2>
        {% if corporateDirector %}
          {% include "includes/remove-director-check-answers-corporate-summary.html" %}
        {% else %}
          {% include "includes/remove-director-check-answers-summary.html" %}
        {% endif %}

        {% include "includes/confirm-submit-cancel-button-group.html" %}

      </form>
    </div>
  </div>
{% endblock %}
