{% extends "layout.html" %}
{% import "includes/date-localisation.html" as macros %}
{% set title = i18n.removeDirectorConfirmationConfirmationTitle %}

{% block pageTitle %}
{% include "includes/page-title.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="" method="post">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {{ i18n.removeDirectorConfirmationConfirmationTitle }}
          </h1>
          <div class="govuk-panel__body">
            {{ i18n.referenceNumber }}<br><strong>{{ referenceNumber }}</strong>
          </div>
        </div>

        {% set name = directorName %}
        {% if directorTitle %}
          {% set name = directorTitle + " " + name %}
        {% endif %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                id: "remove-submitted-company-name",
                text: i18n.companyName
              },
              value: {
                text: companyName
              }
            },
            {
              key: {
                id: "remove-submitted-company-number",
                text: i18n.companyNumber
              },
              value: {
                text: companyNumber
              }
            },
            {
              key: {
                id: "remove-submitted-director-name",
                text: i18n.removeDirectorConfirmationNameOfDirector
              },
              value: {
                text: name
              }
            },
            {
              key: {
                id: "remove-submitted-date-removed",
                text: i18n.removeDirectorConfirmationDateRemoved
              },
              value: {
                text:  macros.localiseRemovalDate(resignedOn, i18n)
              }
            }
          ]
        }) }}
          {% include "includes/confirm-page-summary.html" %}
          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a href="{{removeLink}}" data-event-id="remove-director-same-company-link" class="govuk-link govuk-link--no-visited-state"> {{ i18n.removeDirectorConfirmationSameCompanyLink }} </a>
            </li>
            <li>
              <a href="/company-lookup/search?forward=/appoint-update-remove-company-officer/confirm-company?companyNumber=%7BcompanyNumber%7D" data-event-id="remove-director-different-company-link" class="govuk-link govuk-link--no-visited-state"> {{ i18n.removeDirectorConfirmationDifferentCompanyLink }} </a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">{{ i18n.feedbackTitle }}</h2>

          <p class="govuk-body">{{ i18n.testServiceText}} <a href="https://www.smartsurvey.co.uk/s/directors-feedback/" data-event-id="feedback-link" class="govuk-link govuk-link--no-visited-state"> {{ i18n.testServiceLinkText }}</a>.</p>

      </form>
    </div>
  </div>
{% endblock %}
