{% extends "layout.html" %}

{% set title = i18n.serviceErrorSorry %}

{% block pageTitle %}
{% include "includes/page-title.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ i18n.serviceErrorSorry | default("Sorry, there is a problem with this service") }}
    </h1>

    <p class="govuk-body-m">{{ i18n.serviceErrorTryAgainLater }}</p>
    <p>{{ i18n.serviceErrorNotSavedAnswers }}</p>
{% if lang === "en" %}
    <a href="https://www.gov.uk/contact-companies-house" data-event-id="500-error-page-contact-us">{{ i18n.serviceErrorContactLink }}</a> {{ i18n.serviceErrorIfAnyQuestionsText }}
{% elif lang === "cy" %}
    {{ i18n.serviceErrorIfAnyQuestionsText }} <a href="https://www.gov.uk/contact-companies-house" data-event-id="500-error-page-contact-us">{{ i18n.serviceErrorContactLink }}</a>.
{% endif %}
  </div>
</div>
{% endblock %}
