{% extends "layout.html" %}

{% set title = i18n.signoutTitle %}

{% block pageTitle %}
    {% include "includes/page-title.html" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container"})
  }}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block signoutBar %}
{# Remove signout bar on this page by replacing it with nothing #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if noInputSelectedError %}
            {% set detailsErrorMsg = {
                text: i18n.signoutNoInputError
            } %}

            {{ govukErrorSummary({
                titleText: i18n.signoutErrorSummaryTitle,
                errorList: [
                    {
                    text: i18n.signoutErrorSummaryText,
                    href: "#signout"
                    }
                ]
            }) }}
        {% else %}
            {% set detailsErrorMsg = false %}
        {% endif %}

        {% if CH01_ACTIVE === "true" %}
            {% set hintText = i18n.signoutCH01JourneyHintText %}
        {% else %}
            {% set hintText = i18n.signoutAP01JourneyHintText %}
        {% endif %}

        <form action="" method="POST">
            {% include "includes/csrf_token.njk" %}
            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "signout",
                name: "signout",
                errorMessage: detailsErrorMsg,
                fieldset: {
                    legend: {
                        html: i18n.signoutRadioLegend,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: hintText
                },
                items: [
                    {
                        value: "yes",
                        text: i18n.signoutYesButtonText,
                        attributes: {
                            "data-event-id": "signout-yes"
                        }
                    },
                    {
                        value: "no",
                        text: i18n.signoutNoButtonText,
                        attributes: {
                            "data-event-id": "signout-no"
                        }
                    }
                ]
                })
            }}
            {{ govukInput({
                value: previousPage,
                name: "previousPage",
                classes: "govuk-visually-hidden"
              }) }}
        {% include "includes/continue-button.html" %}
        </form>
    </div>
</div>
{% endblock %}
