{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {% if CH01_ACTIVE === "true" %}
    {{ i18n.appTitle }} - {{i18n.govUK}}
  {% else %}
    {{ i18n.appTitleAppointRemove }} - {{i18n.govUK}}
  {% endif %}
{% endblock %}

{% block signoutBar %}
  {# Remove signout bar on this page by replacing it with nothing #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      {% if CH01_ACTIVE === "true" %}
        {% include "includes/start-update.html" %}
      {% elif TM01_ACTIVE === "true" or AP01_ACTIVE === "true" %}
        {% include "includes/start-appoint-remove.html" %}
      {% else %}
        <ul>
          <li>{{ i18n.startNotActiveYet }}</li>
        </ul>
      {% endif %}

    </div>
  </div>
{% endblock %}
