{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {{i18n.startTitle}} - {{i18n.govUK}}
{% endblock %}

{% block signoutBar %}
  {# Remove signout bar on this page by replacing it with nothing #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if AP01_ACTIVE === "true" %}
      <h1 class="govuk-heading-xl">
        {{ i18n.startTitle }}
      </h1>
      {% else %}
      <h1 class="govuk-heading-xl">
        {{ i18n.startTitleJustRemove }}
      </h1>
      {% endif %}
      

      {% if FEATURE_FLAG_REMOVE_DIRECTOR_20022023 === "true" or AP01_ACTIVE === "true" %}
      {% if AP01_ACTIVE === "true" %}
        <p class="govuk-body">{{ i18n.startUseThisServiceInfo1 }}</p>
        <p class="govuk-body">{{ i18n.startUseThisServiceInfo2 }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ i18n.startUseThisServiceInfo3 }}</li>
          <li>{{ i18n.startUseThisServiceInfo4 }}</li>
        </ul>
        <p class="govuk-body">{{ i18n.startUseThisServiceInfo5 }}
          <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" data-event-id="web-filing-link-clicked" class="govuk-link">{{ i18n.startUseThisServiceInfo6 }}</a> {{ i18n.startUseThisServiceInfo7 }}
          <a href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-companies#directors-and-secretaries" data-event-id="companies-house-form-link-clicked" class="govuk-link">{{ i18n.startUseThisServiceInfo8 }}</a>.
        </p>
      {% else %}
        <p class="govuk-body">{{ i18n.startUseThisServiceInfo1JustRemove }}</p>
      {% endif %}
      {% set summaryHtml %}
        <div>{{ i18n.startWhatIsACorporateDirectorTitle }}</div>
      {% endset %}
        {% set corporateDetails %}
        <p>{{ i18n.startWhatIsACorporateDirectorInfo1 }}</p>
        <p>{{ i18n.startWhatIsACorporateDirectorInfo2 }}</p>
        {% endset %}

        {{ govukDetails({
          summaryHtml: summaryHtml ,
          html: corporateDetails,
          attributes: {
            "data-event-id": "what-is-a-corporate-director-accordion"
          }
        }) }}

        {% if AP01_ACTIVE === "true" %}
        <h2 class="govuk-heading-m">{{ i18n.startBeforeYouStartTitle }}</h2>
        {% endif %}
        <p class="govuk-body">{{ i18n.startBeforeYouStartYoullNeedTitle }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ i18n.startBeforeYouStartYoullNeedInfo1 }}</li>
          <li>{{ i18n.startBeforeYouStartYoullNeedInfo2 }}</li>
          <li>{{ i18n.startBeforeYouStartYoullNeedInfo3 }} <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" data-event-id="start-now-company-authentication-link-clicked">{{ i18n.startBeforeYouStartYoullNeedInfo4 }}</a> </li>
          {% if AP01_ACTIVE !== "true" %}
          <li>{{ i18n.startBeforeYouStartYoullNeedRemoveOnlyInfo1 }}</li>
          {% endif %}
        </ul>
        {% if AP01_ACTIVE === "true" %}
        <br>
        <p class="govuk-body">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedTitle }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedName }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedPreviousName }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedDOB }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedNationality }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedOccupation }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedAddresses }}</li>
          <li>{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedDOA }}</li>
        </ul>
        <p class="govuk-body">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedInfo1 }}
          <a href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register" class="govuk-link" data-event-id="protect-personal-information-link-clicked">{{ i18n.startBeforeYouStartToAppointADirectorYoullNeedInfo2 }}</a>
        </p>
        {% endif %}

        <br>
        <a href="/appoint-update-remove-company-officer/company-number" id="start-now" onclick="_paq.push(['trackGoal', '{{PIWIK_START_GOAL_ID}}'])" data-event-id="start-now-start-button" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
          {{ i18n.startStartNowButton }}
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      {% else %}
        <ul>
          <li>{{ i18n.startNotActiveYet }}</li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
