{% extends "layout.html" %}
{% block pageTitle %}
  {% set serviceName = i18n.appTitleJustRemove %}
  {% if CH01_ACTIVE === "true" %}
    {% set serviceName = i18n.appTitle %}
  {% elif AP01_ACTIVE === "true" %}
    {% set serviceName = i18n.appTitleAppointRemove %}
  {% endif %}
  {{pageHeader}} - {{serviceName}} - GOV.UK
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageHeader | safe}}
      </h1>

      <div class="govuk-body">
        {{pageBody | safe}}
      </div>

    </div>
  </div>
{% endblock %}
