{% extends "layout.html" %}

{% set title = "Confirm where the director lives" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% set backLinkText = i18n.backToFindHomeAddressText %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}
      <form action="" method="post">
        <span class="govuk-caption-l">{{ directorName }}</span>
        <h1 class="govuk-heading-l">{{ i18n.directorConfirmResidentialAddressTitle }}</h1>
        
        {% include "includes/list/address-details.html" %}

        <div class="govuk-body">
          <a href="{{enterAddressManuallyUrl}}?backLink=confirm-residential-address" class="govuk-link" onclick="_paq.push(['trackGoal', '{{PIWIK_START_GOAL_ID}}'])" data-event-id="director-edit-address">{{ i18n.directorConfirmResidentialAddressEditText }}</a>
        </div>
        
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">{{ i18n.whatInformationShownInOnlineRegisterInset }}</h2>
            <p>{{ i18n.directorConfirmResidentialAddressInsetText }}</p>
        </div>
        
        {{ govukButton({
          attributes: {
            "data-event-id": "confirm-and-continue-button"
          },
          text: i18n.confirmAndContinue
        }) }}
      </form>
    </div>
  </div>
{% endblock %}