{% extends "layout.html" %}

{% set title = i18n.directorCorrespondenceSearchTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% set backLinkText = i18n.backToCorrespondenceAddress %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {{ csrfTokenInput({ csrfToken: csrfToken }) }}
        <span class="govuk-caption-l">{{directorName}}</span>
        <h1 class="govuk-heading-l">{{ i18n.directorCorrespondenceSearchTitle }}</h1>
        <!-- This is the search page for the correspondence address -->
        {% from "govuk/components/input/macro.njk" import govukInput %}
        <div id="typeahead-hint" class="govuk-hint">
          {{i18n.directorCorrespondenceSearchHint}}
        </div>
        {% include "includes/inputs/fields/postcode-input.html" %}
        {% include "includes/inputs/fields/postcode-premises-input.html" %}

        {{ govukButton({
        attributes: {
        "data-event-id": "continue-button"
        },
        text: i18n.findAddress
        }) }}

        <div class="govuk-body">
          <a href="{{enterAddressManuallyUrl}}" class="govuk-link" data-event-id="director-correspondence-address-manual-link">{{i18n.enterAddressManually}}</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
