{% extends "layout.html" %}

{% set title = i18n.directorNameTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">

        <h1 class="govuk-heading-l">{{ i18n.directorNameTitle }}</h1>

        {% include "includes/inputs/fields/title-input.html" %}
        {% include "includes/inputs/fields/first-name-input.html" %}
        {% include "includes/inputs/fields/middle-names-input.html" %}
        {% include "includes/inputs/fields/last-name-input.html" %}


        {% set enterPreviousNamesHtml %}
        {{ govukInput({
          errorMessage: errors.previous_names if errors,
          id: "previous_names",
          name: "previous_names",
          value: previous_names,
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          hint: {
            text: "If the director has more than one previous name, separate each name with a comma."
          },
          label: {
            text: "Previous names"
          }
        }) }}
        {% endset -%}

        {% if not isUpdate %}
          {{ govukRadios({
            errorMessage: errors.previous_names_radio if errors,
            id: "previous_names_radio",
            name: "previous_names_radio",
            value: previous_names_radio,
            fieldset: {
              legend: {
                text: "Has the director used a different name for business purposes in the last 20 years?"
              }
            },
            items: [
              {
                id: "Yes",
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: enterPreviousNamesHtml
                },
                attributes: {
                  "data-event-id": "yes-previous-names"
                }
              },
              {
                id: "No",
                value: "No",
                text: "No",
                attributes: {
                  "data-event-id": "no-previous-names"
                }
              }
            ]
          }) }}
        {% endif %}

        {% if isUpdate %}
          {% set insetText = i18n.directorNamePublicRegisterInformation %}
        {% else %}
          {% set insetText = "We will show the director’s full name on the public Companies House register. We will also show the director’s title and previous names, if relevant." %}
        {% endif %}
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">{{ i18n.directorNamePublicRegisterInformationHeading }}</h2>
            <p>{{ insetText }}</p>
        </div>

        <input type="hidden" name="lang" value="{{lang}}">
        {{ govukButton({
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
