{% extends "layout.html" %}

{% set title = i18n.directorCorrespondenceAddressLinkTitle %}
{% set radioName = "sa_to_roa" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
{% include "includes/grid-row-div-start.html" %}

      <form action="" method="post">
        {{ csrfTokenInput({ csrfToken: csrfToken }) }}
        <div class="govuk-form-group">
        <span class="govuk-caption-l">{{directorName}}</span>
        {% set fieldset = {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          }
        %}

        {{ govukRadios({
          errorMessage: errors.sa_to_roa if errors,
          idPrefix: radioName,
          name: radioName,
          fieldset: fieldset,
          items: [
            {
              value: "sa_to_roa_yes",
              text: i18n.yesAlt,
              hint: {
                text: i18n.directorCorrespondenceAddressLinkYesHint
              },
              checked: sa_to_roa === "sa_to_roa_yes",
              attributes: {
                "data-event-id": "service_address_to_registered_office_address_yes"
              }
            },
            {
              value: "sa_to_roa_no",
              text: i18n.no,
              hint: {
                text: i18n.directorCorrespondenceAddressLinkNoHint
              },
              checked: sa_to_roa === "sa_to_roa_no",
              attributes: {
                "data-event-id": "service_address_to_registered_office_address_no"
              }
            }
          ]
        }) }}
      </div>

        {{ govukButton({
          classes: "govuk-button",
          attributes: {
            "data-event-id": "continue-button"
          },
          text: i18n.continue
        }) }}

      </form>
      {% include "includes/grid-row-div-end.html" %}
{% endblock %}
