{% extends "layout.html" %}

{% set title = i18n.directorConfirmCorrespondenceAddressTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% set backLinkText = i18n.directorConfirmCorrespondenceAddressBackLinkText %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      <form action="" method="post">

        <span class="govuk-caption-l">{{ directorName }}</span>
        <h1 class="govuk-heading-l">{{ i18n.directorConfirmCorrespondenceAddressTitle }} </h1>

        {% include "includes/list/address-details.html" %}

        <div class="govuk-body">
          <a href="{{enterAddressManuallyUrl}}" class="govuk-link" onclick="_paq.push(['trackGoal', '{{PIWIK_START_GOAL_ID}}'])" data-event-id="director-edit-address">{{ i18n.directorConfirmCorrespondenceAddressEditAddressLink }}</a>
        </div>

        {% include "includes/inset-text/correspondence-inset-text.html" %}
        
        {{ govukButton({
          attributes: {
            "data-event-id": "confirm-and-continue-button"
          },
          text: i18n.confirmAndContinue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}