{# Setup vars that will be used in page #}
{% set appointDateErrorMessage = '' %}
{% set isAppointDateDayError = false %}
{% set isAppointDateMonthError = false %}
{% set isAppointDateYearError = false %}


{# Decide if any field is in error and set boolean that will highlight it in red #}
{% for key, value in errors %}
  {% if "appoint_date" in key|string %}
    {% set appointDateErrorMessage = value %}

    {% if "-day" in key|string %}
      {% set isAppointDateDayError = true %}
    {% endif %}
    {% if "-month" in key|string %} 
      {% set isAppointDateMonthError = true %}
    {% endif %}
    {% if "-year" in key|string %} 
      {% set isAppointDateYearError = true %}
    {% endif %}

  {% endif %}
{% endfor %}


{# Set classes on the 3 date input fields (including error classes if applicable) #}
{% set appoint_date_classes_year = "govuk-input--width-4 govuk-input" %}
{% set appoint_date_classes_month = "govuk-input--width-2 govuk-input" %}
{% set appoint_date_classes_day = "govuk-input--width-2 govuk-input" %}

{% if isAppointDateDayError %}
  {% set appoint_date_classes_day = appoint_date_classes_day + "--error" %}
{% endif %}
{% if isAppointDateMonthError %}
  {% set appoint_date_classes_month = appoint_date_classes_month + "--error" %}
{% endif %}
{% if isAppointDateYearError %}
  {% set appoint_date_classes_year = appoint_date_classes_year + "--error" %}
{% endif %}


{# Render #}
{{ govukDateInput({
  errorMessage: appointDateErrorMessage,
  id: "appoint_date",
  name: "appointDate",
  namePrefix: "appoint_date",
  fieldset: {
    legend: {
      text: "When was the director appointed?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 27 4 2021"
  },
  items: [
    {
      classes: appoint_date_classes_day,
      name: "day",
      value: appoint_date["appoint_date-day"] if appoint_date,
      pattern: "*"
    },
    {
      classes: appoint_date,
      name: "month",
      value: appoint_date["appoint_date-month"] if appoint_date,
      pattern: "*"
    },
    {
      classes: appoint_date,
      name: "year",
      value: appoint_date["appoint_date-year"] if appoint_date,
      pattern: "*"
    }
  ]
}) }}
