<script type="text/javascript" src="{{assetPath}}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  /**
   * Function to decode HTML entities
   * HTML encoding converts any special characters, method decodes these special character back to original form
   * @param html (possibly) encoded string
   * @return decoded string form
   */
  function decodeHtml(html) {
   /**
    * This line creates a new textarea element in the DOM.
    * This textarea element is not appended to the document, so it doesn't appear on the webpage.
    * It's used as a tool to decode the HTML entities.
    */
    var txt = document.createElement("textarea");
   /**
    * This line sets the `innerHTML` property of the `textarea` element to the input HTML string. 
    * When this happens, the browser automatically decodes the HTML entities in the string.
    */
    txt.innerHTML = html;
    return txt.value;
  }
  //Split this on | to get an array of values
  const typeaheadArray = "{{typeahead_array}}".split("|")
  const defaultValueArray = "{{typeahead_value}}".split("|")
  const hintArray = "{{typeaheadHint}}".split("|")
  const titleArray = "{{typeaheadTitle}}".split("|")
  const descriptorArray = "{{typeahead_descriptor}}".split("|"); // New array for descriptors

  for (var i = 0; i < typeaheadArray.length; i++) {
    console.log("Initializing typeahead for index: " + i);
    var autocompleteConfig = {
      element: document.querySelector('#my-autocomplete-container-' + i),
      id: 'typeahead_input_' + descriptorArray[i] + '_' + i, // Updated to include descriptor
      source: typeaheadArray[i].split(";"),
      name: 'typeahead_input_' + descriptorArray[i] + '_' + i // Updated to include descriptor
    }
    if(defaultValueArray[i] !== "null" && defaultValueArray[i] !== "undefined"){
      autocompleteConfig.defaultValue = decodeHtml(defaultValueArray[i]);
    }
    accessibleAutocomplete(autocompleteConfig)
    const autocompleteContainer = document.getElementById("my-autocomplete-container-" + i);
    // Add title to JS-enabled typeahead
    autocompleteContainer.insertAdjacentHTML("beforeBegin", titleArray[i]);
    // Add hint to JS-enabled typeahead
    const hintElement = document.createElement('div');
    hintElement.id = 'typeahead-hint-' + i;
    hintElement.className = 'govuk-hint';
    hintElement.innerHTML = hintArray[i];
    autocompleteContainer.insertAdjacentElement("beforeBegin", hintElement);
}

  // Add observer for each typeahead_input
  // Mimic nunjucks error generation
  window.onload = function () {
    for (var i = 0; i < typeaheadArray.length; i++) {
      // Set up observer to correct css classname when accessible-autocomplete rewrites the input field.
      const typeaheadNode = document.getElementById("typeahead_input_" + descriptorArray[i] + "_" + i);
      var callback;
      var inputClass;
      var errors;

      if("{{typeahead_errors}}"){
        errors = JSON.parse("{{typeahead_errors}}".replace(/&quot;/g,'"'));
      }

      if (errors && errors["typeahead_input_" + descriptorArray[i] + "_" + i]) {
        const typeaheadError = errors["typeahead_input_" + descriptorArray[i] + "_" + i].text;
        document.getElementById("typeahead-form-group-" + i).className = "govuk-form-group govuk-form-group--error";
        const errorHtml = '<p class="govuk-error-message"> <span class="govuk-visually-hidden">Error:</span> ' + typeaheadError + '</p>'
        const element = document.getElementById("typeahead-hint-" + i);
        element.insertAdjacentHTML("afterend", errorHtml);
        typeaheadNode.className = typeaheadNode.className + " govuk-input--error";
      }
  }
}
</script>

<!-- Javascript disabled -->
<noscript>
  <!-- If there is a single typeahead box, add noscript for it here. If not they will need to be included separately-->
  {% if not '|' in typeahead_array %}
    {% include "includes/inputs/fields/typeahead-noscript-input.html" %}
  {% endif %}

</noscript>
