{% extends "layout.html" %}

{% set title = i18n.updateConfirmationTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "includes/list/errors.html" %}
      
      <form action="" method="post">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           {{ i18n.updateConfirmationTitle }}
          </h1>
          <div class="govuk-panel__body">
            {{ i18n.referenceNumber }}<br><strong>{{ referenceNumber }}</strong>
          </div>
        </div>
<!--using ifs and else with boolean passed on controller to create comma seperated dynamic string-->
        {% set submittedTypeString = "" %}
        {% if nameHasBeenUpdated %}
          {% set submittedTypeString = i18n.updateTypeName %}
        {% endif %} 
        {% if nationalityHasBeenUpdated %}
          {% if submittedTypeString != "" %}
            {% set submittedTypeString = submittedTypeString ~ ", " ~ i18n.updateTypeNationality %}
          {% else %}
            {% set submittedTypeString = i18n.updateTypeNationality %}
          {% endif %}
        {% endif %} 
        {% if occupationHasBeenUpdated %}
          {% if submittedTypeString != "" %}
            {% set submittedTypeString = submittedTypeString ~ ", " ~ i18n.updateTypeOccupation %}
          {% else %}
            {% set submittedTypeString = i18n.updateTypeOccupation %}
          {% endif %}
        {% endif %} 
        {% if residentialAddressHasBeenUpdated %}
          {% if submittedTypeString != "" %}
            {% set submittedTypeString = submittedTypeString ~ ", " ~ i18n.updateTypeResidentialAddress %}
          {% else %}
            {% set submittedTypeString = i18n.updateTypeResidentialAddress %}
          {% endif %}
        {% endif %} 
        {% if correspondenceAddressHasBeenUpdated %}
          {% if submittedTypeString != "" %}
            {% set submittedTypeString = submittedTypeString ~ ", " ~ i18n.updateTypeCorrespondenceAddress %}
          {% else %}
            {% set submittedTypeString = i18n.updateTypeCorrespondenceAddress %}
          {% endif %}
        {% endif %}

<!--loop through elements and find i18n. transaction DOES not work yet. -->
        {% set submittedTypeString2 = "" %}
        {% for type in updateTypes %}
          {% if submittedTypeString2 != "" %}
            {% set submittedTypeString2 = submittedTypeString2 ~ ", " ~ i18n.[type] %}
          {% else %}
            {% set submittedTypeString2 = i18n.[type] %}
          {% endif %}
        {% endfor %}

        <h1>submittedTypeString2 : {{ submittedTypeString2 }}</h1>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: i18n.confirmCompanyName
              },
              value: {
                text: companyName
              }
            },
            {
              key: {
                text: i18n.confirmCompanyNumber
              },
              value: {
                text: companyNumber
              }
            },
            {
              key: {
                text: i18n.director
              },
              value: {
                text: directorName
              }
            },
            {
              key: {
                text: i18n.updateSubmitted
              },
              value: {
                text: submittedTypeString2
              }
            }
          ]
        }) }}
        {% include "includes/confirm-page-summary.html" %}
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="{{ updateDirectorSameCompany }}" data-event-id="update-director-same-company-link" class="govuk-link govuk-link--no-visited-state">Update director information for the same company</a>
          </li>
          <li>
            <a href="/company-lookup/search?forward=/appoint-update-remove-company-officer/confirm-company?companyNumber=%7BcompanyNumber%7D" data-event-id="update-director-different-company-link" class="govuk-link govuk-link--no-visited-state">Update director information for a different company</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Feedback</h2>
        <p class="govuk-body">{{ i18n.testServiceText}} <a href="https://www.smartsurvey.co.uk/s/directors-conf/" data-event-id="feedback-link" class="govuk-link govuk-link--no-visited-state"> {{ i18n.testServiceLinkText }}</a>.</p>
      </form>
    </div>
  </div>
{% endblock %}
