{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set title = i18n.updateDirectorCheckAnswersTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <form action="" method="post">
        {{ csrfTokenInput({ csrfToken: csrfToken }) }}
        <span class="govuk-caption-l gem-c-title__context" id="update-director-cya--name">
          {{directorNameCompanyAppointment}}
        </span>
        <h1 class="govuk-heading-l" id="update-director-cya-title">{{ i18n.updateDirectorCheckAnswersTitle }}</h1>
        <h2 class="govuk-heading-m" id="update-director-cya-company-details">{{ i18n.updateDirectorCheckAnswersCompanyDetails }}</h2>

        {{ govukSummaryList({
          attributes: {
            id: "update-director-cya-summary-list"
          },
          rows: [
            {
              classes: "govuk-summary-list__row--no-actions",
              id: "update-director-cya-company-name-list",
              key: {
                id: "update-director-cya-company-name",
                text: i18n.updateDirectorCheckAnswersCompanyName
              },
              value: {
                text: company.companyName
              }
            },
            {
              classes: "govuk-summary-list__row--no-actions",
              id: "update-director-cya-company-number-list",
              key: {
                text: i18n.updateDirectorCheckAnswersCompanyNumber
              },
              value: {
                text: company.companyNumber
              }
            }
          ]
        }) }}

        {% set nationality = officerFiling.nationality1 %}
        {% if officerFiling.nationality2 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality2 %}
        {% endif %}
        {% if officerFiling.nationality3 %}
          {% set nationality = nationality + "<br>" + officerFiling.nationality3 %}
        {% endif %}

        {% if directorTitle %}
          {% set name = directorTitle + " " + name %}
        {% endif %}

        {% if officerFiling.nameHasBeenUpdated %}
          {% set nameListElement = {
            key: {
              id: "update-director-name-label",
              text: i18n.updateDirectorCheckAnswersDirectorName
            },
            value: {
              text: name
            },
            actions: {
              items: [
                {
                  href: nameLink,
                  text: i18n.updateDirectorCheckAnswersChange,
                  visuallyHiddenText: i18n.updateDirectorCheckAnswersDirectorName,
                  attributes: {
                    id: "update-director-name-change-link",
                    "data-event-id": "name-change-link"
                  }
                }
              ]
            },
            attributes: {
              id: "updated-director-cya-name-list"
            }
          } %}
          {% endif %}

          {% if officerFiling.nationalityHasBeenUpdated %}
            {% set nationalityListElement = {
                key: {
                  id: "update-director-nationality-label",
                  text: i18n.updateDirectorCheckAnswersDirectorNationality
                },
                value: {
                  html: nationality
                },
                actions: {
                  items: [
                    {
                      href: nationalityLink,
                      text: i18n.updateDirectorCheckAnswersChange,
                      visuallyHiddenText: updateDirectorCheckAnswersDirectorNationality,
                      attributes: {
                        id: "update-director-nationality-change-link",
                        "data-event-id": "nationality-change-link"
                      }
                    }
                  ]
                },
                attributes: {
                  id: "updated-director-cya-nationality-list"
                }
              } %}
          {% endif %}

          {% if officerFiling.occupationHasBeenUpdated %}
          {% set occupationListElement = {
            key: {
              id: "update-director-occupation-label",
              text: i18n.updateDirectorCheckAnswersDirectorOccupation
            },
            value: {
              text: occupation
            },
            actions: {
              items: [
                {
                  href: occupationLink,
                  text: i18n.updateDirectorCheckAnswersChange,
                  visuallyHiddenText: i18n.updateDirectorCheckAnswersDirectorOccupation,
                  attributes: {
                    id: "update-director-occupation-change-link",
                    "data-event-id": "occupation-change-link"
                  }
                }
              ]
            },
            attributes: {
              id: "updated-director-cya-occupation-list"
            }
          } %}
        {% endif %}

        {% if officerFiling.nameHasBeenUpdated or officerFiling.nationalityHasBeenUpdated or officerFiling.occupationHasBeenUpdated %}
          <h2 class="govuk-heading-m" id="update-director-cya-details">{{ i18n.updateDirectorCheckAnswersDirectorDetails }}</h2>

          {{ govukSummaryList({
            attributes: {
              id: "update-director-updated-cya-summary-list"
            },
            rows: [
              nameListElement,
              nationalityListElement,
              occupationListElement
            ]
          }) }}
        {% endif %}

        {% set officerFiling = officerFiling %}
        {% if officerFiling.residentialAddressHasBeenUpdated or officerFiling.serviceAddressHasBeenUpdated %}
          {% set cyaDisplay = true %}
          {% include "includes/check-your-answer/address-details.html" %}
        {% endif %}

        <h2 class="govuk-heading-m" id="update-director-cya-date-changed">{{ i18n.updateDirectorCheckAnswersDateChanged }}</h2>

        {{ govukSummaryList({
          attributes: {
            id: "update-director-cya-date-changed-summary-list"
          },
          rows: [
            {
              key: {
                id: "update-director-date-details-changed",
                text: i18n.updateDirectorCheckAnswersDateDirectorDetailsChanged
              },
              value: {
                text: dateUpdated
              },
              actions: {
                items: [
                  {
                    href: dateUpdatedLink,
                    text: i18n.updateDirectorCheckAnswersChange,
                    visuallyHiddenText: i18n.updateDirectorCheckAnswersDateDirectorDetailsChanged,
                    attributes: {
                      id: "update-director-date-details-changed-link",
                      "data-event-id": "date-updated-change-link"
                    }
                  }
                ]
              }
            }
          ]
        }) }}

        {% include "includes/confirm-submit-cancel-button-group.html" %}

      </form>
    </div>

{% endblock %}
