{% extends "layout.html" %}

{% set title = i18n.updateDirectorDetailsTitle %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="" method="post"> 
          <span class="govuk-caption-l gem-c-title__context">
            {{companyName}}
          </span>
          <h2 class="govuk-heading-l">{{ i18n.updateDirectorDetailsTitle }}</h2>

          <p class="govuk-hint"> {{ i18n.updateDirectorDetailsHint }}</p>
          {{ govukInsetText({
            text: i18n.updateDirectorDetailsInsetText
          }) }}

          {% set nationality = nationality1 %}
          {% if nationality2 %}
            {% set nationality = nationality + "<br>" + nationality2 %}
          {% endif %}
          {% if nationality3 %}
            {% set nationality = nationality + "<br>" + nationality3 %}
          {% endif %}

          {% set name = firstName + " " + lastName %}
          {% if directorTitle %}
            {% set name = directorTitle + " " + name %}
          {% endif %}

          {% set updateRequiredHtml %}
          <div class="changes-made">
            <strong class="govuk-tag govuk-tag--blue">Details updated</strong>
            <p class="govuk-body-s">Pending until submitted and accepted</p>
          </div>
          {% endset -%}

          <p class="govuk-summary-list__key govuk-heading-m">{{ i18n.updateDirectorDetailsHeading }}</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ i18n.updateDirectorDetailsName }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ name }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{nameLink}}" data-event-id="update-name-change-link">{{ i18n.updateDirectorDetailsUpdate }}<span class="govuk-visually-hidden">Update name</span></a>
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if nameHasBeenUpdated %}
                  {{ updateRequiredHtml | safe }}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ i18n.updateDirectorDetailsNationality }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ nationality | safe }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{nationalityLink}}" data-event-id="update-nationality-change-link">{{ i18n.updateDirectorDetailsUpdate }}<span class="govuk-visually-hidden">Update nationality</span></a>
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if nationalityHasBeenUpdated %}
                  {{ updateRequiredHtml | safe }}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ i18n.updateDirectorDetailsOccupation }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{occupation}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{occupationLink}}" data-event-id="update-occupation-change-link">{{ i18n.updateDirectorDetailsUpdate }}<span class="govuk-visually-hidden">Update occupation</span></a>
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if occupationHasBeenUpdated %}
                  {{ updateRequiredHtml | safe }}
                {% endif %}
              </dd>
            </div>
          </dl>

          {% set isUpdate = isUpdate %}
          {% set cyaDisplay = false %}
          {% include "../includes/check-your-answer/address-details.html" %}

          {% if updatedData %}
            <div class="govuk-button-group">
              {{ govukButton({
                attributes: {
                  id: "submit",
                  "data-event-id": "update-continue-button"
                },
                text: i18n.continue
              }) }}
              <a class="govuk-link" href="{{cancelLink}}" data-event-id="update-cancel-link">{{ i18n.cancel }}</a>
            </div>
          {% else %}
            <button id="backToActiveDirectorsButton" name="back_to_active_directors" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button" value="no-change">
              {{ i18n.updateDirectorDetailsGoBackButton }}
            </button>
          {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
