<div class="govuk-inset-text">
    <h2 class="govuk-heading-m">{{ i18n.whatInformationShownInOnlineRegisterInset }}</h2>
    <p>{{ i18n.directorCorrespondenceAddressRadioInsetHint }}</p>
</div>

{% set correspondenceAddressSameAsHomeAddress %}
  <p>{{ i18n.directorCorrespondenceAddressRadioHaCaAccordionText }}</p>
  <p>{{ i18n.directorCorrespondenceAddressRadioAgentAccordionText }}  <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents?lang={{lang|default('en')}}" data-event-id="list-of-agents-link" class="govuk-link" target="_blank" rel="noopener noreferrer">{{ i18n.directorCorrespondenceAddressRadioAgentAccordionLinkText }}</a> </p> 
  <p>{{ i18n.directorCorrespondenceAddressRadioAgentOtherAgentAccordionText }} </p>
{% endset %}
{{ govukDetails({
  summaryHtml: '<div>'~i18n.directorCorrespondenceAddressRadioAccordionTitle~'</div>',
  html: correspondenceAddressSameAsHomeAddress,
  attributes: {
    "data-event-id": "my-corresponeance-address-is-my-home-address-accordion"
  }
}) }}